<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saffy | Komendy</title>
	<meta name="description" content="Saffy">
	<meta name="keywords" content="Saffy">
	<link rel="index" title="Strona główna" href="https://saffy.pl/">
    <link rel="stylesheet" type="text/css" href="/css/commands.css">
    <link rel="icon" href="img" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/faa4922b3c.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
		<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv-printshiv.min.js"></script>
	<![endif]-->
</head>
<body>
<header class="heading">
    <nav>
        <ul>
            <li><a href="/" rel="index" class="Saffy">Saffy | Powrót</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="heading_h1">
        <h1>Komendy Bota</h1>
        <p>Domyślny Prefix: .</p>
    </div>
    <div class="headings_h2">
        <h2>Moderacyjne</h2>
    </div>
    <div class="text">
        <p>
            ban - ban @użytkownik {powód} - banuje użytkownika <br />
            kick - kick @użytkownik {powód} - wyrzuca użytkownika <br />
            mute - mute @użytkownik {czas} {powód} - wycisza oznaczonego użytkownika na określony czas <br />
            unmute - unmute @użytkownik - odcisza oznaczonego użytkownika <br />
            warn - warn @użytkownik {powód} - wysyła na DM ostrzeżenie <br />
            clear - clear {ilość} - czyści czat (max 100 wiadomości) <br />
            massrole - massrole @rola - nadaje oznaczoną rolę dla wszystkich na serwerze
        </p>
    </div>
    <div class="headings_h2">
        <h2>Administracyjne</h2>
    </div>
    <div class="text">
        <p>
            ankieta - ankieta {treść} - tworzy ankietę <br />
            odetnij - odetnij - odcina czat <br />
            embed - embed {treść} - wysyła embed w podaną treścią <br />
        </p>
    </div>
    <div class="headings_h2">
        <h2>Profil</h2>
    </div>
    <div class="text">
        <p>
            profil - wyświetla/tworzy profil <br />
            profil help - wyświetla dostępne ustawienia do profilu <br />
            profil imie - profil imie {imie} - ustawia podane imię w profilu <br />
            profil wiek - profil wiek {wiek} - ustawia podany wiek w profilu <br />
            profil email - profil email {email} - ustawia podany E-mail w profilu <br />
        </p>
    </div>
    <div class="headings_h2">
        <h2>Ekonomia</h2>
    </div>
    <div class="text">
        <p>
            pracuj - pracujesz <br />
            daily - otrzymujesz dzienną nagrodę <br />
            przelej - przelej @użytkownik {suma} - przelewa podaną sumę dla oznaczonego użytkownika <br />
            sklep - wyświetla dostępne dodatki do kupienia <br />
            zakup - zakup {dodatek} - pozwala na zakup wybranego dodatku <br />
        </p>
    </div>
    <div class="headings_h2">
        <h2>Ustawienia serwera</h2>
    </div>
    <div class="text">
        <p>
            config - wyświetla konfigurację serwera <br />
            ustaw - ustaw {parametr} - pozwala na ustawienie konfiguracji serwera <br />
            prefix - prefix {nowy prefix} - zmienia prefix dla serwera <br />
            edit - edit {paramert} - pozwala na edycję wyglądu statystyk <br />
            refresh - odświeża statystyki <br />
            antyreklama - antyreklama {on/off} - włącza/wyłącza anty-reklamę <br />
            bcmds - bcmds {on/off} - wyłącza/wyłącza komendy na serwerze <br />
            ureset - ureset {paramert} - resetuje podane ustawienie serwera <br />
        </p>
    </div>
    <div class="headings_h2">
        <h2>NSFW</h2>
    </div>
    <div class="text">
        <p>boobs,  ass,  4k,  gif,  pussy,  thigh,  anal</p>
    </div>
    <div class="headings_h2">
        <h2>Informacje</h2>
    </div>
    <div class="text">
        <p>
            ping - wyświetla ping bota<br/>
            roleinfo - roleinfo {@rola/nazwa roli} - wyświetla informacje na temat podanej roli<br/>
            serverinfo - wyświetla informacje o serwerze<br/>
        </p>
    </div>
    <div class="headings_h2">
        <h2>Zdjęcia</h2>
    </div>
    <div class="text">
        <p>
            piesek - wysyła losowe zdjęcie psa<br/>
            kotek - wysyła losowe zdjęcie kota<br/>
            koala - wysyła losowe zdjęcie koali<br/>
            ptak - wysyła losowe zdjęcie ptaka<br/>
            pikachu - wysyła losowy gif z pikachu<br/>
            lis - wysyła losowe zdjęcie lisa<br/>
            panda - wysyła losowe zdjęcie pandy<br/>
        </p>
    </div>
    <div class="headings_h2">
        <h2>4FUN</h2>
    </div>
    <div class="text">
        <p>
            achievement - achievement {treść} - wysyła osiągnięcie z Minecrafta z podaną treścią<br/>
            ascii - ascii {tekst} - wysyła tekst w ASCII<br/>
            8ball - 8ball {pytanie} - podaje losową wiadomość<br/>
            poglaszcz - poglaszcz @użytkownik - głaszcze oznaczonego użytkownika<br/>
            cytat - wysyła losowy cytat<br/>
            mem - wysyła losowego mema<br/>
        </p>
    </div>
    <div class="headings_h2">
        <h2>inne</h2>
    </div>
    <div class="text">
        <p>
            link - wysyła link do dodania bota, support serwera i tej strony <br/>
            avatar - wysyła twój/oznaczonego użytkownika awatar<br/>
            pogoda - pogoda {miasto} - wysyła pogodę z podanego miasta <br/>
            game - game {typ serwera} {IP} {port} - wysyła informacje o danym serwerze<br/>
        </p>
    </div>
    <div class="headings_h2">
        <h2>Support</h2>
    </div>
    <div class="text">
        <p>
            bok - bok {treść} - wysyła zgłoszenie do administracji bota <br/>
        </p>
    </div>  
</main>
<footer>Copyright &copy; 2020 by Saffy.pl</footer>
</body>
</html>