<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saffy | Strona główna</title>
	<meta name="description" content="Saffy">
	<meta name="keywords" content="Saffy">
	<link rel="index" title="Strona główna" href="https://saffy.pl/">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" href="img" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
		<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv-printshiv.min.js"></script>
	<![endif]-->
<script src="js/copyright.js"></script>
</head>
<body onload="copyright()">
<header class="heading">
    <nav>
        <ul>
            <li><a href="/" rel="index" class="Saffy">Saffy</a></li>
            <li><a href="https://discord.gg/DDDcD89">Support serwera</a></li>
            <li><a href="/komendy">Komendy bota</a></li>
            <li><a href="/zmienne">Zmienne funkcji bota</a></li>
            <li><a href="/panel">Panel (alfa)</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Saffy! oficjalna strona</h1>
    <h2>O Bocie:</h2>
    <p>Jeden z najnowocześniejszych i najbardziej dopracowanych botów na polskiej scenie Discord!<br>Posidamy opcje takie jak statystyki serwera, komendy 4fun, komendy administracyjne pomagające zarządzać serwerem! </p>
    <a id="button1" href="https://discordapp.com/oauth2/authorize?client_id=584011219103514635&scope=bot&permissions=2146958847" target="_blank">Dodaj bota na serwer</a>
</main>
<footer id="copyright"></footer>
</body>
</html>