<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saffy | Zmienne</title>
	<meta name="description" content="Saffy">
	<meta name="keywords" content="Saffy">
	<link rel="index" title="Strona główna" href="https://saffy.pl/">
    <link rel="stylesheet" type="text/css" href="/css/commands.css">
    <link rel="icon" href="img" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/faa4922b3c.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
		<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv-printshiv.min.js"></script>
	<![endif]-->
</head>
<body>
<header class="heading">
    <nav>
        <ul>
            <li><a href="/" rel="index" class="Saffy">Saffy | Powrót</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="heading_h1">
        <h1>Zmienne wiadomości join-leave</h1>
        <p>
            {userTag} - użytkownik#1234 <br />
            {userUser} - użytkownik <br />
            {user} - @użytkownik <br />
            {guildName} - nazwa serwera <br />
            {owner} - oznacza właściciela serwera <br />
            {ownerTag} - tag onwera <br />
            {memberCount} - liczba użytkowników serwera <br />
        </p>
    </div>
    <div class="heading_h1">
        <h1>Zmienne komendy edit time</h1>
        <p>
            {time} - pobiera aktualny czas

        </p>
    </div>
    <div class="heading_h1">
        <h1>Zmienne komendy edit date</h1>
        <p>
            {date} - pobiera aktualną datę

        </p>
        <div class="heading_h1">
            <h1>Zmienne komendy edit users</h1>
            <p>
                {users} - pobiera aktualną ilość użytkowników z bez botów <br />
            </p>
        </div>
        <div class="heading_h1">
            <h1>Zmienne komendy edit online</h1>
            <p>
                {members} - pobiera aktualną ilość użytkowników online z botami <br />
                {users} - pobiera aktualną ilość użytkowników online bez botów <br />
            </p>
        </div>
        <div class="heading_h1">
            <h1>Zmienne komendy edit bans</h1>
            <p>
                {bans} - pobiera aktualną ilość zbanowanych użytkowników<br />
            </p>
        </div>
        <div class="heading_h1">
            <h1>Zmienne komendy edit latest_user</h1>
            <p>
                {latest} - pobiera nazwę najnowszego użytkownika<br />
                {latestTag} - pobiera tag najnowszego użytkownika<br />
            </p>
        </div>
    </div>
</main>
<footer>Copyright &copy; 2020 by Saffy.pl</footer>
</body>
</html>