body {
    background-image: url('/img/bg.png');
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
nav ul {
    margin-left: 100px;
    white-space: nowrap;
}
nav li {
    display: inline;
    margin-left: 25px;
}
.Saffy {
    font-size: 25px;
}
header a {
    text-decoration: none;
    color: #fff;
}
p {
    position: relative;
    margin-top: 25vh;
    text-align: center;
    font-size: 50px;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: white;
    text-align: center;
}
@media (max-width: 600px) {
    body {
        font-size: 15px;
    }
    nav ul {
        display: inline;
    }
    nav li {
        display: block;
        font-size: 15px;
        margin-top: 5px;
    }
    .Saffy {
        text-align: center;
        font-size: 25px;
    }
    p {
        /* margin-top: 200px; */
        font-size: 25px;
    }
}