<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serwery</title>
</head>
<body>
<h1>Twoje serwery</h1>
<ul>


    <% guilds.forEach(guild => { %>
        <li>Nazwa: <%= guild.name %> <br> ID: <%= guild.id %> </li>
    <% }) %>
</ul>
</body>
</html>